@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
   --background: oklch(0.9249 0.0025 84.5582);
   --foreground: oklch(0.2733 0.0060 84.5910);
   --card: oklch(0.9551 0.0015 84.5553);
   --card-foreground: oklch(0.2733 0.0060 84.5910);
   --popover: oklch(0.9249 0.0025 84.5582);
   --popover-foreground: oklch(0.2733 0.0060 84.5910);
   --primary: oklch(0.2733 0.0060 84.5910);
   --primary-foreground: oklch(0.9851 0.0005 84.5527);
   --secondary: oklch(0.8868 0.0037 84.5622);
   --secondary-foreground: oklch(0.3258 0.0076 84.5919);
   --muted: oklch(0.8482 0.0050 84.5663);
   --muted-foreground: oklch(0.4724 0.0122 84.5929);
   --accent: oklch(0.8637 0.0045 84.5646);
   --accent-foreground: oklch(0.2182 0.0042 84.5888);
   --destructive: oklch(0.6356 0.2082 25.3782);
   --destructive-foreground: oklch(1.0000 0 0);
   --border: oklch(0.8093 0.0064 84.5706);
   --input: oklch(0.8868 0.0037 84.5622);
   --ring: oklch(0.2733 0.0060 84.5910);
   --chart-1: oklch(0.6261 0.1859 259.5957);
   --chart-2: oklch(0.6688 0.1588 57.9579);
   --chart-3: oklch(0.7205 0.1920 149.4926);
   --chart-4: oklch(0.6356 0.2082 25.3782);
   --chart-5: oklch(0.5982 0 0);
   --sidebar: oklch(0.9097 0.0030 84.5598);
   --sidebar-foreground: oklch(0.3258 0.0076 84.5919);
   --sidebar-primary: oklch(0.2733 0.0060 84.5910);
   --sidebar-primary-foreground: oklch(0.9851 0.0005 84.5527);
   --sidebar-accent: oklch(0.8637 0.0045 84.5646);
   --sidebar-accent-foreground: oklch(0.2182 0.0042 84.5888);
   --sidebar-border: oklch(0.8327 0.0056 84.5680);
   --sidebar-ring: oklch(0.2733 0.0060 84.5910);
   --font-sans: JetBrains Mono, monospace;
   --font-serif: Georgia, serif;
   --font-mono: JetBrains Mono, monospace;
   --radius: 0rem;
   --shadow-x: 0px;
   --shadow-y: 4px;
   --shadow-blur: 10px;
   --shadow-spread: 0px;
   --shadow-opacity: 0.1;
   --shadow-color: hsl(0, 0%, 0%);
   --shadow-2xs: 0px 4px 10px 0px hsl(0 0% 0% / 0.05);
   --shadow-xs: 0px 4px 10px 0px hsl(0 0% 0% / 0.05);
   --shadow-sm: 0px 4px 10px 0px hsl(0 0% 0% / 0.10), 0px 1px 2px -1px hsl(0 0% 0% / 0.10);
   --shadow: 0px 4px 10px 0px hsl(0 0% 0% / 0.10), 0px 1px 2px -1px hsl(0 0% 0% / 0.10);
   --shadow-md: 0px 4px 10px 0px hsl(0 0% 0% / 0.10), 0px 2px 4px -1px hsl(0 0% 0% / 0.10);
   --shadow-lg: 0px 4px 10px 0px hsl(0 0% 0% / 0.10), 0px 4px 6px -1px hsl(0 0% 0% / 0.10);
   --shadow-xl: 0px 4px 10px 0px hsl(0 0% 0% / 0.10), 0px 8px 10px -1px hsl(0 0% 0% / 0.10);
   --shadow-2xl: 0px 4px 10px 0px hsl(0 0% 0% / 0.25);
   --tracking-normal: -0.01em;
   --spacing: 0.25rem;
}

.dark {
   --background: oklch(0.2733 0.0060 84.5910);
   --foreground: oklch(0.8868 0.0037 84.5622);
   --card: oklch(0.3051 0.0070 84.5916);
   --card-foreground: oklch(0.8868 0.0037 84.5622);
   --popover: oklch(0.2733 0.0060 84.5910);
   --popover-foreground: oklch(0.8868 0.0037 84.5622);
   --primary: oklch(0.9249 0.0025 84.5582);
   --primary-foreground: oklch(0.2182 0.0042 84.5888);
   --secondary: oklch(0.3461 0.0083 84.5922);
   --secondary-foreground: oklch(0.9249 0.0025 84.5582);
   --muted: oklch(0.3258 0.0076 84.5919);
   --muted-foreground: oklch(0.6894 0.0106 84.5839);
   --accent: oklch(0.3762 0.0092 84.5924);
   --accent-foreground: oklch(0.9626 0.0012 84.5546);
   --destructive: oklch(0.5614 0.1947 26.1659);
   --destructive-foreground: oklch(1.0000 0 0);
   --border: oklch(0.3461 0.0083 84.5922);
   --input: oklch(0.3258 0.0076 84.5919);
   --ring: oklch(0.7698 0.0077 84.5750);
   --chart-1: oklch(0.6261 0.1859 259.5957);
   --chart-2: oklch(0.6688 0.1588 57.9579);
   --chart-3: oklch(0.7205 0.1920 149.4926);
   --chart-4: oklch(0.6356 0.2082 25.3782);
   --chart-5: oklch(1.0000 0 0);
   --sidebar: oklch(0.2516 0.0053 84.5903);
   --sidebar-foreground: oklch(0.8482 0.0050 84.5663);
   --sidebar-primary: oklch(0.9249 0.0025 84.5582);
   --sidebar-primary-foreground: oklch(0.2182 0.0042 84.5888);
   --sidebar-accent: oklch(0.3051 0.0070 84.5916);
   --sidebar-accent-foreground: oklch(0.9249 0.0025 84.5582);
   --sidebar-border: oklch(0.3258 0.0076 84.5919);
   --sidebar-ring: oklch(0.7698 0.0077 84.5750);
   --font-sans: JetBrains Mono, monospace;
   --font-serif: Georgia, serif;
   --font-mono: JetBrains Mono, monospace;
   --radius: 0rem;
   --shadow-x: 0px;
   --shadow-y: 4px;
   --shadow-blur: 10px;
   --shadow-spread: 0px;
   --shadow-opacity: 0.4;
   --shadow-color: hsl(0, 0%, 0%);
   --shadow-2xs: 0px 4px 10px 0px hsl(0 0% 0% / 0.20);
   --shadow-xs: 0px 4px 10px 0px hsl(0 0% 0% / 0.20);
   --shadow-sm: 0px 4px 10px 0px hsl(0 0% 0% / 0.40), 0px 1px 2px -1px hsl(0 0% 0% / 0.40);
   --shadow: 0px 4px 10px 0px hsl(0 0% 0% / 0.40), 0px 1px 2px -1px hsl(0 0% 0% / 0.40);
   --shadow-md: 0px 4px 10px 0px hsl(0 0% 0% / 0.40), 0px 2px 4px -1px hsl(0 0% 0% / 0.40);
   --shadow-lg: 0px 4px 10px 0px hsl(0 0% 0% / 0.40), 0px 4px 6px -1px hsl(0 0% 0% / 0.40);
   --shadow-xl: 0px 4px 10px 0px hsl(0 0% 0% / 0.40), 0px 8px 10px -1px hsl(0 0% 0% / 0.40);
   --shadow-2xl: 0px 4px 10px 0px hsl(0 0% 0% / 1.00);
}

@theme inline {
   --color-background: var(--background);
   --color-foreground: var(--foreground);
   --color-card: var(--card);
   --color-card-foreground: var(--card-foreground);
   --color-popover: var(--popover);
   --color-popover-foreground: var(--popover-foreground);
   --color-primary: var(--primary);
   --color-primary-foreground: var(--primary-foreground);
   --color-secondary: var(--secondary);
   --color-secondary-foreground: var(--secondary-foreground);
   --color-muted: var(--muted);
   --color-muted-foreground: var(--muted-foreground);
   --color-accent: var(--accent);
   --color-accent-foreground: var(--accent-foreground);
   --color-destructive: var(--destructive);
   --color-destructive-foreground: var(--destructive-foreground);
   --color-border: var(--border);
   --color-input: var(--input);
   --color-ring: var(--ring);
   --color-chart-1: var(--chart-1);
   --color-chart-2: var(--chart-2);
   --color-chart-3: var(--chart-3);
   --color-chart-4: var(--chart-4);
   --color-chart-5: var(--chart-5);
   --color-sidebar: var(--sidebar);
   --color-sidebar-foreground: var(--sidebar-foreground);
   --color-sidebar-primary: var(--sidebar-primary);
   --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
   --color-sidebar-accent: var(--sidebar-accent);
   --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
   --color-sidebar-border: var(--sidebar-border);
   --color-sidebar-ring: var(--sidebar-ring);

   --font-sans: var(--font-sans);
   --font-mono: var(--font-mono);
   --font-serif: var(--font-serif);

   --radius-sm: calc(var(--radius) - 4px);
   --radius-md: calc(var(--radius) - 2px);
   --radius-lg: var(--radius);
   --radius-xl: calc(var(--radius) + 4px);

   --shadow-2xs: var(--shadow-2xs);
   --shadow-xs: var(--shadow-xs);
   --shadow-sm: var(--shadow-sm);
   --shadow: var(--shadow);
   --shadow-md: var(--shadow-md);
   --shadow-lg: var(--shadow-lg);
   --shadow-xl: var(--shadow-xl);
   --shadow-2xl: var(--shadow-2xl);

   --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
   --tracking-tight: calc(var(--tracking-normal) - 0.025em);
   --tracking-normal: var(--tracking-normal);
   --tracking-wide: calc(var(--tracking-normal) + 0.025em);
   --tracking-wider: calc(var(--tracking-normal) + 0.05em);
   --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

@layer base {
   * {
      @apply border-border outline-ring/50;
   }

   body {
      @apply bg-background text-foreground;
      letter-spacing: var(--tracking-normal);
   }
}